<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>798319216512-l84ah6jf475p76s4sm5h7fegnhjgbt4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798319216512-l84ah6jf475p76s4sm5h7fegnhjgbt4t</string>
	<key>API_KEY</key>
	<string>AIzaSyDD5pHsjSHblG4iu_dSPI8S6z9G0biclgs</string>
	<key>GCM_SENDER_ID</key>
	<string>798319216512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>demirezen.OMDBAkif</string>
	<key>PROJECT_ID</key>
	<string>odmb-3df99</string>
	<key>STORAGE_BUCKET</key>
	<string>odmb-3df99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798319216512:ios:cee60f01f7bcf367</string>
	<key>DATABASE_URL</key>
	<string>https://odmb-3df99.firebaseio.com</string>
</dict>
</plist>